.get_start{
    text-align: right;
    margin-right: 55px;
}

.basket {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.contact_container{
    background-color: #e1e1e1;
    padding-bottom: 49.5px;
}