.first_slide {
    background-image: url(img/third_services/background.png);
    height: 725px;
}

.menu_active {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 31px;
    color: #cacaca;
}

.start_menu {
    border-bottom: 1px solid white;
}

.start_nunc_eget {
    color: #cacaca;
    font-size: 18px;
    font-stretch: condensed;
    font-style: normal;
    letter-spacing: 0.18px;
    font-weight: 400;
    border-bottom: 1px solid #cacaca;
    line-height: 48px;
    display: flex;
    justify-content: center;
    margin: 134px 906.5px 76px 906.5px;
}

.start_h1 {
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 75px;
}

.icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.icons_list {
    padding: 0px 6px;
}

.icons_picture:hover {
    border-radius: 50px;
    background-color: #f44336;
}

.second_about {
    display: flex;
    justify-content: center;
    padding: 81px;
}

.second_content {
    float: left;
}

.content_about {
    padding-bottom: 35px;
    padding-top: 14px;
}

.about_text {
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.12px;
    width: 454px;
    height: 203px;
    padding-right: 33px;
}

.about_img {
    height: 338px;
}

.fifth_name_game_light {
    font-weight: 300;
}