.third_services {
    height: 762px;
}

.sirvices_h1 {
    text-align: center;
    padding: 92px 0px 91px;
}

.sirvises_price {
    display: flex;
    justify-content: center;
}

.services_link_left,
.services_link_right {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.services_text_left{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
    width: 317px;
    margin-top: 22px;
    margin-bottom: 0px 86px;
}

/*LEFT*/
.sevices_img_left {
    display: block;

}

.services_container_left {
    display: flex;
    justify-content: center;
    text-align: right;
}

.sevices_img_left {
    height: 28px;
    width: 28px;
}

.services_border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    background: #e1e1e1;
    border-radius: 50%;
    width: 102px;
    height: 102px;
    margin: 0px 45px 73px 66px;
}

/*RIGHT*/
.services_border_right{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    background: #e1e1e1;
    border-radius: 50%;
    width: 102px;
    height: 102px;
    margin: 0px 66px 73px 45px;

}

.services_container_right{
    display: flex;
    justify-content: center;
}

.services_text_right{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
    width: 316px;
    margin-top: 22px;
}

/*FOUTH*/
